<h2> Please enter your new password </h2> 
<%= form_for :user, url: {action: "update_password", params: {id: current_user.id}} do |f| %> 
    <%= f.label :current_password %>
    <%= f.password_field 'current_password' %>
    <br>
    <%= f.label :password %>
    <%= f.password_field 'password' %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field 'password_confirmation' %>
    <br>
    <%= f.submit 'Update Password' %>
<% end %>