<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

    </style>
  </head>




  <body>
      <header>

      <div>
        <% if logged_in? %>

          <p>
          @<%= current_user.user_name %> 
          <%= link_to "Home", home_path(current_user) %>
          <%= link_to "My Profile",  user_path(current_user) %> 
          <%= link_to "Explore", explore_path %>
          <%= link_to "Edit Profile", edit_user_path(current_user) %>

          <%= form_tag('/logout') do %>
            <%= submit_tag 'Log Out' %>
          <% end %>

          </p>

        <% else %>

          <p><%= link_to 'Log In', login_path %></p>
          
        <% end %>

      </div>




        <div style="color: red;">
          <% if flash[:errors] %>
              <ul>
                <% flash[:errors].each do |error| %>
                  <li>
                    <%= error %>
                  </li>
                <% end %>
              </ul>
          <% end %>
        </div>


      </header>


    <%= yield %>


  </body>


</html>
